<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Bán hàng nông sản</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="stylesheet"
	href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

<!-- STYLE CSS -->
<link rel="stylesheet" href="css/style2.css">
</head>

<body>

	<div class="wrapper" style="background-image: url('images/d2.jpg');">
		<div class="inner">
			<div class="image-holder">
				<img src="images/d1.jpg" alt="">
			</div>
			<form th:object="${registration}" th:action="@{/registration}" method="post">
				<h3>Đăng ký</h3>
				<div class="form-wrapper">
					<input type="text" placeholder="Họ Tên" class="form-control" th:field="*{fullname}">
					<i class="zmdi zmdi-account"></i>
				</div>
				<div class="form-wrapper">
					<input type="text" placeholder="Email" class="form-control" th:field="*{email}">
					<i class="zmdi zmdi-email"></i>
				</div>
				<div class="form-wrapper">
					<input type="password" placeholder="Mật khẩu" class="form-control" th:field="*{password}">
					<i class="zmdi zmdi-lock"></i>
				</div>
				<div class="form-wrapper">
					<input type="password" placeholder="Nhập lại mật khẩu"
						class="form-control"> <i class="zmdi zmdi-lock"></i>
				</div>
				<div class="form-check-inline">
					<label style="padding-right: 20px; font-size: 17px;">Giới
						tính:</label> <label class="form-check-label" for="radio1"
						style="font-size: 17px;"> <input type="radio"
						class="form-check-input" id="radio1" name="optradio"
						value="false" checked th:field="*{gender}">Nam
					</label> <label class="form-check-label" for="radio2"
						style="font-size: 17px;"> <input type="radio"
						class="form-check-input" id="radio2" name="optradio"
						value="true" th:field="*{gender}">Nữ
					</label>
				</div>
				<br>
				<div class="form-wrapper">
					<input type="text" placeholder="Số điện thoại"
						class="form-control" th:field="*{phone}"> <i class="zmdi zmdi-code-smartphone"></i>
				</div>
						<div class="form-wrapper">
					<input type="date" placeholder="birthday"
						class="form-control" th:field="*{birthday}"> <i class="zmdi zmdi-code-smartphone"></i>
				</div>
				<div class="form-wrapper">
					<input type="text" placeholder="Địa chỉ" class="form-control" th:field="*{address}">
					<i class="zmdi zmdi-pin"></i>
				</div>
				<button>
					Đăng ký <i class="zmdi zmdi-arrow-right"></i>
				</button>
			</form>
		</div>
	</div>

</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>