<div th:fragment="header" class="header">
	<div class="py-1 bg-primary">
		<div class="container">
			<div
				class="row no-gutters d-flex align-items-start align-items-center px-md-0">
				<div class="col-lg-12 d-block">
					<div class="row d-flex">
						<div class="col-md-6 pr-4 d-flex topper align-items-center">
							<div
								class="mr-2 d-flex justify-content-center align-items-center"></div>
							<span class="text">
								<ul class="header-links pull-left">
									<li><a href="#"><i class="fa fa-phone"></i>
											+021-95-51-84</a></li>
									<li><a href="#"><i class="fa fa-map-marker"></i>457/73
											tôn đức thắng TP Đà Nẵng</a></li>
								</ul>
							</span>
						</div>

						<div
							class="col-md-6 pr-4 d-flex topper align-items-center text-lg-right">
							<span th:if="${fullname == null}" class="text">
								<ul class="header-links pull-right">
									<li> 
									<a th:href="@{/login}"><i class="fa fa-user-o"></i>Đăng
											Nhập</a></li>
								</ul>
							</span>
							<span class="text" th:if="${fullname != null}" th:text="${fullname}" ></span>
							<span class="text" th:if="${fullname != null}" style="width: 150px; margin-left: 50px; cursor: pointer;"><a th:href="@{/index/logout1}" style="color: white;" ><i class="fa fa-user-o"></i> Đăng xuất</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav
		class="navbar navbar-expand-lg  ftco-navbar-dark bg-dark ftco-navbar-light ">
		<div class="container">
			<div class="col-lg-12 d-block">
				<div class="row d-flex">
					<div class="col-md-3 pr-4 d-flex topper align-items-center">
						<div
							class=" mr-2 d-flex justify-content-center align-items-center">
							<span class="icon-phone2"></span>
						</div>

					</div>
					<div class="col-md-6 pr-4 d-flex topper align-items-center">
						<div
							class=" mr-4 d-flex justify-content-center align-items-center"></div>
						<span class="text">
							<div class="header-search">
								<form  th:action="@{/index/searchProduct}" method="get">
									<select  class="input-select">
										<option value="0">Danh Mục</option>
										<option th:each="ca : ${category}" th:value="${ca.idCategory}" th:utext="${ca.name}"></option>
									</select> <input type="search" name="key" class="input" placeholder="từ khóa">
									<button type="submit" class="search-btn">Tìm</button>
								</form>
							</div>
						</span>
					</div>
					<div
						class="col-md-3 pr-4 d-flex topper align-items-center text-lg-right">

					</div>
				</div>
			</div>

		</div>
	</nav>
	<nav
		class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
		id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" th:href="@{/index}">Nông Sản</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#ftco-nav" aria-controls="ftco-nav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a th:href="@{/index}"
						class="nav-link">trang chủ</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="dropdown04"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danh
							Mục</a>
						<div  class="dropdown-menu"
							aria-labelledby="dropdown04">
							<a th:each="cate : ${category}" class="dropdown-item" th:href="@{'/index/showProductByIdCategory/'+${cate.idCategory}}" th:value="${cate.idCategory}" th:utext="${cate.name}"></a>
						</div></li>
					<li class="nav-item"><a th:href="@{/index/product}" class="nav-link">Sản
							Phẩm</a></li>
					<li class="nav-item"><a th:href="@{/index/about}" class="nav-link">Giới
							Thiệu</a></li>
					<li class="nav-item"><a th:href="@{/index/contact}" class="nav-link">Liên
							Hệ</a></li>
					<li class="nav-item cta cta-colored"><a href="cart.html"
						class="nav-link"><span class="icon-shopping_cart"></span>[0]
							Giỏ Hàng</a></li>

				</ul>
			</div>
		</div>
	</nav>
	
</div>